//引入其他檔案
@import 'base/var';
@import 'component/btn';
@import 'base/font';
@import 'page/index';
@import 'page/about';


body {
    //$b : 10px; // 區域變數
    //$c : 10px !global; // 全域變數
    font-size: $fontSize;
    font-family: $fontFamily;
    font-weight: 400;
    margin: $margin;
    padding: $block;
    color: $color;
    background-color: map-get($Mapcolor, 'yellow');
}

$a : 20px;
$a : 10px !default; // 改變它的層級


.wrapper {

    padding: $a;
    width: 1200px;
    //margin: $c auto;
}

// class  宣告
// #{變數}
$class : boxer;
$file : a1;
$attr : margin;

// class
.#{$class} {
    width: 100px;
    height: 100px;
    background-color: #333;
    background-image: url('images/#{$file}.jpg'); // url
    #{$attr}: 10px // 屬性
}

/* 運算 注意單位 */

.cal {
  width:  10px + 10; // 單位
  height:  10px - 5; // 單位
  margin:  10 * 10 + px; // 單位
  font-family: 'Courier New', Courier, monospace;
  font : (100 / 10) + px; // 字體屬性除法 + ()
 }


// 運算的函式
.num {
   width:  floor(100.5px);// 無條件捨去
   height:  ceil(100.5px);// 無條件進位
   margin:  round(100.4px);// 四捨五入
}



