//引入其他檔案
@import 'var';
@import 'btn';
@import 'font';
@import 'index';
@import 'about';


body {
    //$b : 10px; // 區域變數
    //$c : 10px !global; // 全域變數
    font-size: $fontSize;
    font-family: $fontFamily;
    font-weight: 400;
    margin: $margin;
    padding: $block;
    color: $color;
    background-color: map-get($Mapcolor, 'yellow');
}

$a : 20px;
$a : 10px !default; // 改變它的層級


.wrapper {

    padding: $a;
    width: 1200px;
    //margin: $c auto;
}

// class  宣告
// #{變數}
$class : boxer;
$file : a1;
$attr : margin;

// class
.#{$class} {
    width: 100px;
    height: 100px;
    background-color: #333;
    background-image: url('images/#{$file}.jpg'); // url
    #{$attr}: 10px // 屬性
}

