// 首頁
.index {
    .section01 {
        width: 100%;
        background-color: rgb(221, 210, 210);

        h2 {
            font-size: 34px;
            color: #333;
        }

        .area {
            width: 80%;
            background-color: rgb(254, 116, 116);
            margin: 0 auto;

        

            // .btn:hover {
            //     background-color: rgb(2, 168, 183);

            // }
        }
    }

}