/* ==css 註解 ==*/
// scss註解

$fontSize : 13px; //number
$color : #fff; // color 
$fontFamily : 'Gill Sans',
'Gill Sans MT',
Calibri,
'Trebuchet MS',
sans-serif; //string
$margin : 10px 10px 20px 5px; // list
$Mapcolor : ("key" : "val",
    "blue" : #009dff,
    "yellow" : #fbf300); // map

$block : null;

//斷點變數

$small : 414px;
$medium : 720px;