// mixin 函式  == js function

// 函式 沒有帶值
@mixin fontcenter {
    // 屬性
    text-align: center;
    font-size: 14px;
    color: #000000;
}

// null初始值
@mixin margin_center($num:null) {
    margin: $num auto;
}



//======= 版面控制 =========
// 如何使用: @include layout(數值)  判斷版型 100 滿版
// 數值 : 1200px
// @include layout(100)
@mixin layout($layouts) {
    @if $layouts==100 {
        width: 100%;
    }

    @else {
        width: $layouts + px;
        margin: auto;
    }
}

// 預設值 $w , $h 這兩個是區域變數 
@mixin rect($w, $h:$w) {
    width: $w;
    height: $h;
    @include margin-center();
}


//按鈕
//@include btn(class , 大小 , 背景色 , 圓角);
@mixin btn($class, $w, $bgc, $boderRadius: null) {
    .#{$class} {
        padding: $w $w*3;
        text-align: center;
        border-radius: $boderRadius;
        background-color: $bgc;
        color: invert($bgc);
        cursor: pointer;
        transition: all .2s ease;

        &:hover {
            background-color: lighten($bgc, 20);
            color: invert($bgc);
            transform: scale(1.05);
        }
    }
}

@mixin btn-Outline($class , $w , $bgc) {
    .btnOutline-#{$class} {
        padding: $w $w*2;
        text-align: center;
        color: $bgc;
        border: 1px solid $bgc;
        border-radius: 5px;
        transition: .3s all ease;
        cursor: pointer;
        &:hover {
            background-color: $bgc;
            color: #fff;
            border: initial;
        }
    }
}

@include btn-Outline('default',0.4rem  , rgb(8, 131, 255) );
@include btn-Outline('secondary',0.4rem  , rgb(87, 87, 87) );


